* {
  margin: 0;
  padding: 0;
}

body, html {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
}

.main{
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.left_area{
  background-image: linear-gradient( 135deg, #FAD7A1 10%, #E96D71 100%);
  width:24%;
  height: 100%;
  float: left;
  justify-content: center;
  box-shadow: 5px 0 5px -2px #888;
  overflow: hidden;
  /* display: flex; */
}

.right_area{
  float: left;
  height: 100%;
  width: 76%;
  overflow: auto;
}

.avatar{
  border-radius: 50%;
  width: 175px;
  height: 175px;
  background-image: url('photo.jpg');
  background-size: cover;
  padding: 10px;
  margin: 0 auto;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
  -ms-animation: fadein 5s; /* Internet Explorer */
  -o-animation: fadein 5s; /* Opera < 12.1 */
  animation: fadein 5s;
}

.gp{
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: transparent;
  width: auto;
  height: auto;
  align-items: center;
}



.sections{
  background-color:transparent;
  width: auto;
  height: auto;
}

.about{
  color: white;
  text-align: center;
  margin-top: 5%;
}
.about:hover{
  color: MediumOrchid;
}

.experience{
  color: white;
  text-align: center;
  margin-top: 13%;
}
.experience:hover{
  color: MediumOrchid;
}

.education{
  color: white;
  text-align: center;
  margin-top: 13%;
}
.education:hover{
  color: MediumOrchid;
}

.skills{
  color: white;
  text-align: center;
  margin-top: 13%;
}
.skills:hover{
  color: MediumOrchid;
}

.projects{
  color: white;
  text-align: center;
  margin-top: 13%;
}
.projects:hover{
  color: MediumOrchid;
}

.naming{
  overflow: visible;
  text-align: center;
  width: 100%;
  height: auto;
  padding-top: 5%;
}

.name{
  font-size: 50px;
  -webkit-animation: fadein 5s;
  -moz-animation: fadein 5s;
  -ms-animation: fadein 5s;
  -o-animation: fadein 5s;
  animation: fadein 5s;
  font-family: "Lucida Sans Typewriter";
  background: linear-gradient(to left, #f6c03c, #df89a4);  -webkit-background-clip: text;   color: transparent;
}


.mail{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.email{
  font-size: 15px;
}

.email:link{
  text-decoration: none;
}

.email:hover{
  text-decoration: underline;
}

.phone{
  font-size: 15px;
  margin-left: 2%;
}


.social{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}


.linked{
  border-radius: 50%;
  background-image: url('linkedin.png');
  height: 32px;
  width: 32px;
  background-size: cover;
  box-shadow: 5px 0 5px -2px #888;
}

.git{
  border-radius: 50%;
  background-image: url('github.png');
  height: 32px;
  width: 32px;
  background-size: cover;
  margin-left: 50%;
  box-shadow: 5px 0 5px -2px #888;
}

.about_r{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: black;
  width: auto;
  height: auto;
  margin-left: 10%;
  margin-right: 20%;
  border-left: 5px solid black;
  padding-left: 1%;
}

.educationn_r{
  width: auto;
  height: 300px;
  background-color: orange;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
}

.first{
  background-color: green;
  width: 100%;
  height: auto;
}

.first_half{
  width: 75%;
  height: 100%;
  float: left;
}

.second_half{
  width: 25%;
  height: 100%;
  float: right;
}

.date{
  /* margin-left: 72%; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: right;
}

.college{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: left;
}

.cwd_main{
  display: flex;
}

.cw{
  float: left;
  font_weight: bold;
}

.cwd{
  width: 45%;
  float: right;
  margin-left: 0.5%;
  font-weight: lighter;
}

.second{
  background: pink;
  width: 100%;
  height: 10%;
  margin-top: 1%;
  vertical-align: middle;
}

.third_first_half{
  width: 75%;
  height: 100%;
  float: left;
}

.third_second_half{
  width: 25%;
  height: 100%;
  float: right;
}


.third_date{
  /* margin-left: 72%; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: right;
}

.third_college{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: left;
}

.third_cwd_main{
  display: flex;
}

.third_cw{
  float: left;
  font_weight: bold;
}

.third_cwd{
  width: 45%;
  float: right;
  margin-left: 0.5%;
  font-weight: lighter;
}

.third{
  background: pink;
  width: 100%;
  height: 10%;
  margin-top: 10%;
  vertical-align: middle;
}

.skill_set{
  background-color: transparent;
  height: auto;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.about_para{
  font-size: 15px;
  font-family: "Lucida Sans Typewriter";
  text-align: justify;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}












.circlePercent1 {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: orange;
}
.circlePercent1:before,
.circlePercent1 > .progressEnd1 {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  -ms-transform-origin: 3px 46px;
  transform-origin: 3px 46px;
  content: "";
}
.circlePercent1:after,
.circlePercent1 > .progress1 {
  position: absolute;
  -ms-transform-origin: 48px 48px;
  transform-origin: 48px 48px;
  z-index: 0;
  top: 0;
  left: 0;
  width: 48px;
  height: 96px;
  border-radius: 48px 0 0 48px;
  background: orange;
  content: "";
}
.circlePercent1.fiftyPlus1:after {
  background: white;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circlePercent1 > .progress1.progress1 {
  background: white;
}
.circlePercent1 > .counter1 {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  border: 4px solid orange;
}
.circlePercent1 > .counter1:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -13px;
  width: 100%;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  content: attr(data-percent1) "%";
}
.circlePercent1 > .counter1:after {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: orange;
  content: "";
}
.circlePercent1 > .counter1[data-percent1="100"] {
  background: white;
}


.circlePercent2 {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: orange;
}
.circlePercent2:before,
.circlePercent2 > .progressEnd2 {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  -ms-transform-origin: 3px 46px;
  transform-origin: 3px 46px;
  content: "";
}
.circlePercent2:after,
.circlePercent2 > .progress2 {
  position: absolute;
  -ms-transform-origin: 48px 48px;
  transform-origin: 48px 48px;
  z-index: 0;
  top: 0;
  left: 0;
  width: 48px;
  height: 96px;
  border-radius: 48px 0 0 48px;
  background: orange;
  content: "";
}
.circlePercent2.fiftyPlus2:after {
  background: white;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circlePercent2 > .progress2.progress2 {
  background: white;
}
.circlePercent2 > .counter2 {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  border: 4px solid orange;
}
.circlePercent2 > .counter2:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -13px;
  width: 100%;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  content: attr(data-percent2) "%";
}
.circlePercent2 > .counter2:after {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: orange;
  content: "";
}
.circlePercent2 > .counter2[data-percent2="100"] {
  background: white;
}



.circlePercent3 {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: orange;
}
.circlePercent3:before,
.circlePercent3 > .progressEnd3 {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  -ms-transform-origin: 3px 46px;
  transform-origin: 3px 46px;
  content: "";
}
.circlePercent3:after,
.circlePercent3 > .progress3 {
  position: absolute;
  -ms-transform-origin: 48px 48px;
  transform-origin: 48px 48px;
  z-index: 0;
  top: 0;
  left: 0;
  width: 48px;
  height: 96px;
  border-radius: 48px 0 0 48px;
  background: orange;
  content: "";
}
.circlePercent3.fiftyPlus3:after {
  background: white;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circlePercent3 > .progress3.progress3 {
  background: white;
}
.circlePercent3 > .counter3 {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  border: 4px solid orange;
}
.circlePercent3 > .counter3:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -13px;
  width: 100%;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  content: attr(data-percent3) "%";
}
.circlePercent3 > .counter3:after {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: orange;
  content: "";
}
.circlePercent3 > .counter3[data-percent3="100"] {
  background: white;
}



.circlePercent12 {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: orange;
}
.circlePercent12:before,
.circlePercent12 > .progressEnd12 {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  -ms-transform-origin: 3px 46px;
  transform-origin: 3px 46px;
  content: "";
}
.circlePercent12:after,
.circlePercent12 > .progress12 {
  position: absolute;
  -ms-transform-origin: 48px 48px;
  transform-origin: 48px 48px;
  z-index: 0;
  top: 0;
  left: 0;
  width: 48px;
  height: 96px;
  border-radius: 48px 0 0 48px;
  background: orange;
  content: "";
}
.circlePercent12.fiftyPlus12:after {
  background: white;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circlePercent12 > .progress12.progress12 {
  background: white;
}
.circlePercent12 > .counter12 {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  border: 4px solid orange;
}
.circlePercent12 > .counter12:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -13px;
  width: 100%;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  content: attr(data-percent12) "%";
}
.circlePercent12 > .counter12:after {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: orange;
  content: "";
}
.circlePercent12 > .counter12[data-percent12="100"] {
  background: white;
}


.circlePercent13 {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: orange;
}
.circlePercent13:before,
.circlePercent13 > .progressEnd13 {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  -ms-transform-origin: 3px 46px;
  transform-origin: 3px 46px;
  content: "";
}
.circlePercent13:after,
.circlePercent13 > .progress13 {
  position: absolute;
  -ms-transform-origin: 48px 48px;
  transform-origin: 48px 48px;
  z-index: 0;
  top: 0;
  left: 0;
  width: 48px;
  height: 96px;
  border-radius: 48px 0 0 48px;
  background: orange;
  content: "";
}
.circlePercent13.fiftyPlus13:after {
  background: white;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circlePercent13 > .progress13.progress13 {
  background: white;
}
.circlePercent13 > .counter13 {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  border: 4px solid orange;
}
.circlePercent13 > .counter13:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -13px;
  width: 100%;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  content: attr(data-percent13) "%";
}
.circlePercent13 > .counter13:after {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: orange;
  content: "";
}
.circlePercent13 > .counter13[data-percent13="100"] {
  background: white;
}



.circlePercent14 {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: orange;
}
.circlePercent14:before,
.circlePercent14 > .progressEnd14 {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  -ms-transform-origin: 3px 46px;
  transform-origin: 3px 46px;
  content: "";
}
.circlePercent14:after,
.circlePercent14 > .progress14 {
  position: absolute;
  -ms-transform-origin: 48px 48px;
  transform-origin: 48px 48px;
  z-index: 0;
  top: 0;
  left: 0;
  width: 48px;
  height: 96px;
  border-radius: 48px 0 0 48px;
  background: orange;
  content: "";
}
.circlePercent14.fiftyPlus14:after {
  background: white;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circlePercent14 > .progress14.progress14 {
  background: white;
}
.circlePercent14 > .counter14 {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  border: 4px solid orange;
}
.circlePercent14 > .counter14:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -13px;
  width: 100%;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  content: attr(data-percent14) "%";
}
.circlePercent14 > .counter14:after {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: orange;
  content: "";
}
.circlePercent14 > .counter14[data-percent14="100"] {
  background: white;
}


.circlePercent24 {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: orange;
}
.circlePercent24:before,
.circlePercent24 > .progressEnd24 {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  -ms-transform-origin: 3px 46px;
  transform-origin: 3px 46px;
  content: "";
}
.circlePercent24:after,
.circlePercent24 > .progress24 {
  position: absolute;
  -ms-transform-origin: 48px 48px;
  transform-origin: 48px 48px;
  z-index: 0;
  top: 0;
  left: 0;
  width: 48px;
  height: 96px;
  border-radius: 48px 0 0 48px;
  background: orange;
  content: "";
}
.circlePercent24.fiftyPlus24:after {
  background: white;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circlePercent24 > .progress24.progress24 {
  background: white;
}
.circlePercent24 > .counter24 {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  border: 4px solid orange;
}
.circlePercent24 > .counter24:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -13px;
  width: 100%;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  content: attr(data-percent24) "%";
}
.circlePercent24 > .counter24:after {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: orange;
  content: "";
}
.circlePercent24 > .counter24[data-percent24="100"] {
  background: white;
}



.circlePercent22 {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: orange;
}
.circlePercent22:before,
.circlePercent22 > .progressEnd22 {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  -ms-transform-origin: 3px 46px;
  transform-origin: 3px 46px;
  content: "";
}
.circlePercent22:after,
.circlePercent22 > .progress22 {
  position: absolute;
  -ms-transform-origin: 48px 48px;
  transform-origin: 48px 48px;
  z-index: 0;
  top: 0;
  left: 0;
  width: 48px;
  height: 96px;
  border-radius: 48px 0 0 48px;
  background: orange;
  content: "";
}
.circlePercent22.fiftyPlus22:after {
  background: white;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circlePercent22 > .progress22.progress22 {
  background: white;
}
.circlePercent22 > .counter22 {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  border: 4px solid orange;
}
.circlePercent22 > .counter22:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -13px;
  width: 100%;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  content: attr(data-percent22) "%";
}
.circlePercent22 > .counter22:after {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: orange;
  content: "";
}
.circlePercent22 > .counter22[data-percent22="100"] {
  background: white;
}


.circlePercent34 {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: orange;
}
.circlePercent34:before,
.circlePercent34 > .progressEnd34 {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  -ms-transform-origin: 3px 46px;
  transform-origin: 3px 46px;
  content: "";
}
.circlePercent34:after,
.circlePercent34 > .progress34 {
  position: absolute;
  -ms-transform-origin: 48px 48px;
  transform-origin: 48px 48px;
  z-index: 0;
  top: 0;
  left: 0;
  width: 48px;
  height: 96px;
  border-radius: 48px 0 0 48px;
  background: orange;
  content: "";
}
.circlePercent34.fiftyPlus34:after {
  background: white;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circlePercent34 > .progress34.progress34 {
  background: white;
}
.circlePercent34 > .counter34 {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  border: 4px solid orange;
}
.circlePercent34 > .counter34:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -13px;
  width: 100%;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  content: attr(data-percent34) "%";
}
.circlePercent34 > .counter34:after {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: orange;
  content: "";
}
.circlePercent34 > .counter34[data-percent34="100"] {
  background: white;
}





.circlePercent32 {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: orange;
}
.circlePercent32:before,
.circlePercent32 > .progressEnd32 {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  -ms-transform-origin: 3px 46px;
  transform-origin: 3px 46px;
  content: "";
}
.circlePercent32:after,
.circlePercent32 > .progress32 {
  position: absolute;
  -ms-transform-origin: 48px 48px;
  transform-origin: 48px 48px;
  z-index: 0;
  top: 0;
  left: 0;
  width: 48px;
  height: 96px;
  border-radius: 48px 0 0 48px;
  background: orange;
  content: "";
}
.circlePercent32.fiftyPlus32:after {
  background: white;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circlePercent32 > .progress32.progress32 {
  background: white;
}
.circlePercent32 > .counter32 {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  border: 4px solid orange;
}
.circlePercent32 > .counter32:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -13px;
  width: 100%;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  content: attr(data-percent32) "%";
}
.circlePercent32 > .counter32:after {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: orange;
  content: "";
}
.circlePercent32 > .counter32[data-percent32="100"] {
  background: white;
}



.circlePercent23 {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: orange;
}
.circlePercent23:before,
.circlePercent23 > .progressEnd23 {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  -ms-transform-origin: 3px 46px;
  transform-origin: 3px 46px;
  content: "";
}
.circlePercent23:after,
.circlePercent23 > .progress23 {
  position: absolute;
  -ms-transform-origin: 48px 48px;
  transform-origin: 48px 48px;
  z-index: 0;
  top: 0;
  left: 0;
  width: 48px;
  height: 96px;
  border-radius: 48px 0 0 48px;
  background: orange;
  content: "";
}
.circlePercent23.fiftyPlus23:after {
  background: white;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circlePercent23 > .progress23.progress23 {
  background: white;
}
.circlePercent23 > .counter23 {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  border: 4px solid orange;
}
.circlePercent23 > .counter23:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -13px;
  width: 100%;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  content: attr(data-percent23) "%";
}
.circlePercent23 > .counter23:after {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: orange;
  content: "";
}
.circlePercent23 > .counter23[data-percent23="100"] {
  background: white;
}





.circlePercent33 {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: orange;
}
.circlePercent33:before,
.circlePercent33 > .progressEnd33 {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  -ms-transform-origin: 3px 46px;
  transform-origin: 3px 46px;
  content: "";
}
.circlePercent33:after,
.circlePercent33 > .progress33 {
  position: absolute;
  -ms-transform-origin: 48px 48px;
  transform-origin: 48px 48px;
  z-index: 0;
  top: 0;
  left: 0;
  width: 48px;
  height: 96px;
  border-radius: 48px 0 0 48px;
  background: orange;
  content: "";
}
.circlePercent33.fiftyPlus33:after {
  background: white;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circlePercent33 > .progress33.progress33 {
  background: white;
}
.circlePercent33 > .counter33 {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  border: 4px solid orange;
}
.circlePercent33 > .counter33:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -13px;
  width: 100%;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  content: attr(data-percent33) "%";
}
.circlePercent33 > .counter33:after {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: orange;
  content: "";
}
.circlePercent33 > .counter33[data-percent33="100"] {
  background: white;
}



.circlePercent15 {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: orange;
}
.circlePercent15:before,
.circlePercent15 > .progressEnd15 {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  -ms-transform-origin: 3px 46px;
  transform-origin: 3px 46px;
  content: "";
}
.circlePercent15:after,
.circlePercent15 > .progress15 {
  position: absolute;
  -ms-transform-origin: 48px 48px;
  transform-origin: 48px 48px;
  z-index: 0;
  top: 0;
  left: 0;
  width: 48px;
  height: 96px;
  border-radius: 48px 0 0 48px;
  background: orange;
  content: "";
}
.circlePercent15.fiftyPlus15:after {
  background: white;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circlePercent15 > .progress15.progress15 {
  background: white;
}
.circlePercent15 > .counter15 {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  border: 4px solid orange;
}
.circlePercent15 > .counter15:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -13px;
  width: 100%;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  content: attr(data-percent15) "%";
}
.circlePercent15 > .counter15:after {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: orange;
  content: "";
}
.circlePercent15 > .counter15[data-percent15="100"] {
  background: white;
}



.circlePercent25 {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: orange;
}
.circlePercent25:before,
.circlePercent25 > .progressEnd25 {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  -ms-transform-origin: 3px 46px;
  transform-origin: 3px 46px;
  content: "";
}
.circlePercent25:after,
.circlePercent25 > .progress25 {
  position: absolute;
  -ms-transform-origin: 48px 48px;
  transform-origin: 48px 48px;
  z-index: 0;
  top: 0;
  left: 0;
  width: 48px;
  height: 96px;
  border-radius: 48px 0 0 48px;
  background: orange;
  content: "";
}
.circlePercent25.fiftyPlus25:after {
  background: white;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circlePercent25 > .progress25.progress25 {
  background: white;
}
.circlePercent25 > .counter25 {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  border: 4px solid orange;
}
.circlePercent25 > .counter25:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -13px;
  width: 100%;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  content: attr(data-percent25) "%";
}
.circlePercent25 > .counter25:after {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: orange;
  content: "";
}
.circlePercent25 > .counter25[data-percent25="100"] {
  background: white;
}



.circlePercent35 {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: orange;
}
.circlePercent35:before,
.circlePercent35 > .progressEnd35 {
  position: absolute;
  z-index: 3;
  top: 2px;
  left: 45px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  -ms-transform-origin: 3px 46px;
  transform-origin: 3px 46px;
  content: "";
}
.circlePercent35:after,
.circlePercent35 > .progress35 {
  position: absolute;
  -ms-transform-origin: 48px 48px;
  transform-origin: 48px 48px;
  z-index: 0;
  top: 0;
  left: 0;
  width: 48px;
  height: 96px;
  border-radius: 48px 0 0 48px;
  background: orange;
  content: "";
}
.circlePercent35.fiftyPlus35:after {
  background: white;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circlePercent35 > .progress35.progress35 {
  background: white;
}
.circlePercent35 > .counter35 {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  border: 4px solid orange;
}
.circlePercent35 > .counter35:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -13px;
  width: 100%;
  height: 26px;
  font-size: 26px;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  content: attr(data-percent35) "%";
}
.circlePercent35 > .counter35:after {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: orange;
  content: "";
}
.circlePercent35 > .counter35[data-percent35="100"] {
  background: white;
}



.first_skill{
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.python{
  color: black;
  padding-top: 2%;
  padding-bottom: 10%;
  text-align: center;
}

.second_skill{
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third_skill{
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill_table{
  padding-top: 2%;
  background-color: transparent;
  width: 100%;
}

.first_row{
  width: 100%;
  height: 110px;
  background-color: green;
  position: relative;
}


.colrow1{
  background-color: transparent;
  width: 33.33%;
}

.colrow2{
  background-color: transparent;
  width: 33.33%;
}

.colrow3{
  background-color: transparent;
  width: 33.33%;
}


.projectss{
  height: auto;
  background-color: pink;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5%;
}


.pro_description{
  margin-left: 5%;
  background-color: green;
}


.experiencee{
  height: auto;
  background-color: brown;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5%;
}

.exp_description{
  margin-right: 5%;
  margin-top: 5%;
  margin-left: 5%;
}
